* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #bdc3c7 0%, #2c3e50 100%);
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
   
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
    margin: 0 20px;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
}

.title .tagline {
    font-size: 24px;
    color: #666;
}


main {
    text-align: center;
    padding: 80px 20px;
    
}

.hero {
    margin-top: 40px;
    
}

.navigation-buttons {
    margin-top: 75px; 
    
}

.navigation-buttons ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: 20px; /* Add space between buttons */
}

/* General button styles */
.navigation-buttons ul li {
    margin-bottom: 75px;
    width: 300px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
  
}

/* Style for each link in the list */
.navigation-buttons ul li a {
    text-decoration: none;
    color: #333;
    background-color: #efece7;
    padding: 40px 60px;
    font-weight: bold;
    font-size: 25px;
    border: 4px solid transparent;
    border-radius: 20px;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover effect */
.navigation-buttons ul li a:hover {
    background-color: #ed8138;
    border-color: #0a0a0a;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Specific style for the Log Out button */
.navigation-buttons ul li a.logout {
    background-color: #e74c3c; /* Different background color for Log Out */
    color: #fff;
}

.navigation-buttons ul li a.logout:hover {
    background-color: #c0392b;
    border-color: #fff;
}
